laravel-quickstart-source/dockers/web/db/*
laravel-quickstart-source/dockers/web/db-test/*
laravel-quickstart-source/dockers/web/lb/logs/*
laravel-quickstart-source/dockers/web/web1/logs/*
laravel-quickstart-source/dockers/web/web2/logs/*
