@import "../includes";
#wrapper {
  .booking-section {
    display: none;
    @media screen and (min-width: $sc-xlg-min) {
      display: block;
    }
  }
}
body {
  > .booking-section {
    @media screen and (min-width: $sc-xlg-min) {
      display: none;
    }
  }
}
.ie {
  #wrapper {
    .booking-section {
      @media screen and (min-width: $sc-xlg-min) {
        display: block;
        position: absolute;
        top: calc(100vh - 195px);
      }
      &.sticky {
        position: fixed;
        top: 0;
      }
    }
  }
}

.booking-section {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  -webkit-transform: translateY(100%) translateY(-46px);
  -moz-transform: translateY(100%) translateY(-46px);
  -ms-transform: translateY(100%) translateY(-46px);
  -o-transform: translateY(100%) translateY(-46px);
  transform: translateY(100%) translateY(-46px);
  -webkit-transition: transform .6s $EASE-OUT;
  -moz-transition: transform .6s $EASE-OUT;
  -ms-transition: transform .6s $EASE-OUT;
  -o-transition: transform .6s $EASE-OUT;
  transition: transform .6s $EASE-OUT;
  background-color: $color-white;
  @media screen and (min-width: $sc-xlg-min) {
    position: absolute;
    top: calc(100vh - 80px);
    bottom: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    border-bottom: 1px solid #cdcdcd;
    padding: 0 15px;
    @include padd-horz(percentage(57/1380));
    -webkit-transition: margin-top.4s $EASE-OUT;
    -moz-transition: margin-top.4s $EASE-OUT ;
    -ms-transition: margin-top.4s $EASE-OUT ;
    -o-transition: margin-top.4s $EASE-OUT ;
    transition: margin-top.4s $EASE-OUT ;
  }
  &.sticky {
    @media screen and (min-width: $sc-xlg-min) {
      padding-left: percentage(225/1380);
    }
    .booking-form-wrapper {
      @media screen and (min-width: $sc-xlg-min) {
        padding-left: 10px;
      }
    }
  }
  &.toggle {
    @media screen and (min-width: $sc-xlg-min) {
      margin-top: 104px;
      border-top: 1px solid #cdcdcd;
      //border-bottom: 0;
    }
  }
  &.active {
    z-index: 4;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .booking-toggle {
    background-color: $color-secondary;
    color: $color-white;
    text-align: center;
    cursor: pointer;
    font-size: 1.1em;
    padding: 10px 12px;
    @media screen and (min-width: $sc-xlg-min) {
      display: none;
    }
  }
  .booking-panel {
    background-color: $color-white;
    @include padd-horz(percentage(30/640));
    padding-top: percentage(30/640);
    padding-bottom: percentage(30/640);
    @media screen and (min-width: $sc-md-min) {
      padding-top: percentage(40/768);
      padding-bottom: percentage(40/768);
    }
    @media screen and (min-width: $sc-lg-min) {
      padding: 0 15px;
    }
    @media screen and (min-width: $sc-xlg-min) {
      padding: 0;
    }
    .form-group {
      margin-bottom: 15px;
      @media screen and (min-width: $sc-lg-min) {
        margin-bottom: 0;
      }
      + .form-group {
        @media screen and (min-width: $sc-lg-min) {
          padding-left: percentage(15/1380);
        }
      }
      .form-control {
        position: relative;
        @include placeholder($color-grey);
        &:focus {
          border-color: $color-secondary;
          z-index: 2;
        }
      }
      .input-group {
        margin-bottom: 0;
        .input-group-button {
          align-self: center;
          width: 50%;
          @media screen and (min-width: $sc-xlg-min) {
            margin-left: 15px;
          }
          .btn-default {
            width: 100%;
            @include padd-horz(5px);
          }
        }
      }
    }
    .selectboxit-container {
      &:nth-of-type(2) {
        margin-left: -1px;
      }
      &:focus {
        z-index: 2;
      }
      .selectboxit {
        position: relative;
        border: 1px solid #cdcdcd;
        &.selectboxit-focus {
          border-color: $color-secondary;
        }
      }
      span {
        line-height: 38px;
      }
      .selectboxit-options {
        border: 1px solid #cdcdcd;
        a {
          font-size: 14px;
          text-transform: none;
        }
      }
    }
    .selectboxit-text {
      font-size: 14px;
      text-transform: none;
    }

    .datepicker {
       padding-left: 40px;
      font-size: 14px;
      @media screen and (min-width: $sc-xlg-min) {
        font-size: 16px;
      }
     }

    /* Add Icon */
    .icon-calendar {
      &:before {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 5px;
        z-index: 3;
      }
    }
    #adultSelectBoxIt {
      position: relative;
      padding-left: 32px;
      &:before {
        content: '\e806';
        font-family: "fontello";
        position: absolute;
        font-size: 1.6em;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 5px;
        z-index: 3;
      }
    }
    #childrenSelectBoxIt {
      position: relative;
      padding-left: 32px;
      &:before {
        content: '\e807';
        font-family: "fontello";
        position: absolute;
        font-size: 1.6em;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 5px;
        z-index: 3;
      }
    }
    #roomsSelectBoxIt {
      position: relative;
      padding-left: 32px;
      &:before {
        content: '\f236';
        font-family: "fontello";
        position: absolute;
        font-size: 1.6em;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 5px;
        z-index: 3;
      }
    }
  }
  .booking-form-wrapper {
    @media screen and (min-width: $sc-lg-min) {
      @include padd-vert(20px);
    }

    @media screen and (min-width: $sc-xlg-min) {
      padding-left: percentage(140/1380);
    }
  }
}
.temperature-wrapper {
  @media screen and (min-width: $sc-lg-min) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
#temperature {
  margin-bottom: 0;
  tbody {
    border: 0;
    td {
      padding: 0;
    }
  }
  .temp-number {
    @include fp(font-size, 14, 20);
    font-weight: bold;
    line-height: 1.1;
    color: #999999;
    @media screen and (min-width: $sc-lg-min) {
      max-width: 125px;
    }
  }
}
#weather_text {
  line-height: 1.1;
  color: #999999;
  font-style: italic;
  @include fp(font-size, 12, 17);
  font-weight: normal;
}
#weather_icon {
  padding-left: 10px;
  padding-right: 10px;
  .wi {
    color: $color-primary;
    font-size: 2.1em;
    vertical-align: middle;
  }
}