@import "../includes";
.hero-section {
  position: relative;
  .slide-nav {
    z-index: 2;
  }
  .slide-item {
    .image {
      height: 100%;
      background-size: cover;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        height: 70%;
        bottom: 0;
        left: 0;
        right: 0;
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );
      }
    }
  }
  .slide-title {
    position: absolute;
    z-index: 1;
    bottom: percentage(150/640);
    width: 100%;
    max-width: 850px;
    @include padd-horz(15px);
    color: $color-white;
    @include fp(font-size, 28, 48);
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    @media screen and (min-width: $sc-lg-min) {
      width: 50%;
      bottom: percentage(209/1380);
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
    }
    &.align-left {
      @media screen and (min-width: $sc-lg-min) {
        left: percentage(128/1380);
        text-align: left;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
      }
    }
  }
  .foreground {
    position: absolute;
    padding-top: percentage(378/1380);
    width: percentage(446/1380);
    bottom: 0;
    right: 0;
    z-index: 1;
    .image {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
    }
  }
  .anchor {
    position: absolute;
    bottom: percentage(25/1380);
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    color: $color-white;
    line-height: 1.2;
    cursor: pointer;
    z-index: 4;
    &:after {
      content: '\f107';
      font-family: FontAwesome;
      display: block;
    }
  }
}

.content-slider-section {
  padding: percentage(70/640) 15px percentage(45/640);
  @media screen and (min-width: $sc-md-min) {
    padding: percentage(40/768) 30px percentage(40/768);
  }
  @media screen and (min-width: $sc-lg-min) {
    padding: percentage(65/1380) percentage(50/1380) percentage(60/1380);
  }
  &.background {
    background-color: $color-secondary-header;
    .content-slider {
      background-color: $color-white;
    }
  }
  .box-wrapper {
    width: 100%;
  }
  .content-slider {
    background-color: $color-secondary-header;
  }
  .slide-block-container {
    position: relative;
    @media screen and (min-width: $sc-lg-min) {
      @include padd-horz(percentage(68/1255));
    }
    .image-block-container {
      @media only screen
      and (min-device-width: 320px)
      and (max-device-width: 736px)
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: landscape) {
        width: 50%;
      }
      .section-image {
        padding-top: percentage(570/911);
        @media screen and (min-width: $sc-md-min) {
          padding-top: 100%;
        }
        @media screen and (min-width: $sc-lg-min) {
          padding-top: percentage(570/911);
        }
      }
    }
    .article-block-container {
      padding: percentage(50/640) percentage(40/640) percentage(80/640);
      @media screen and (min-width: $sc-md-min) {
        padding: percentage(35/768) percentage(45/768) percentage(45/768);
      }
      @media screen and (min-width: $sc-lg-min) {
        padding: percentage(25/1380) percentage(65/1380);
      }
      @media only screen
      and (min-device-width: 320px)
      and (max-device-width: 736px)
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: landscape) {
        width: 50%;
      }
      .article-heading {
        @include fp(font-size, 24, 30);
        color: $color-primary;
        font-weight: bold;
        margin-bottom: percentage(25/1380);
      }
      .article {
        width: 100%;
      }
    }
  }
  .slide-nav {
    .slick-arrow {
      &:before {
        color: $color-secondary;
      }
    }
    .slide-prev {
      left: 0;
    }
    .slide-next {
      right: 0;
    }
  }
  > .button-block {
    text-align: center;
    padding-top: percentage(60/1380);
  }
}

