@import "../includes";

.content-detail-section {
  @include padd-vert(percentage(70/640));
  @include padd-horz(percentage(30/640));
  @media screen and (min-width: $sc-md-min) {
    @include padd-vert(percentage(40/768));
    @include padd-horz(percentage(30/768));
  }
  @media screen and (min-width: $sc-lg-min) {
    @include padd-horz(percentage(55/1380));
    padding-top: percentage(70/1380);
    padding-bottom: percentage(70/1380);
  }
  .heading-box {
    text-align: left;
    h1 {
      margin-bottom: 0;
      text-align: left;
    }
  }
  .article-block-container {
    @media screen and (min-width: $sc-lg-min) {
      padding-right: percentage(105/1380);
    }
    .button-block {
      .btn-default {
        min-width: 250px;
      }
    }
    p {
      a {
        color: $color-primary;
      }
    }
    .content-list-container {
      padding-top: percentage(43/1380);
      padding-bottom: percentage(37/1380);
      .heading {
        @include fp('font-size', 20,24);
        color: $color-grey;
      }
      .article {
        @include padd-vert(percentage(37/1380));
        ul {
          li {
            position: relative;
            padding-left: 15px;
            &:before {
              content: '';
              position: absolute;
              width: 5px;
              height: 5px;
              border-radius: 50%;
              background-color: $color-grey;
              left: 0;
              top: 10px;
            }
          }
        }
        &.list-column {
          ul {
            @include clearfix();
            li {
              @media screen and (min-width: $sc-lg-min) {
                float: left;
                width: 50%;
                padding-right: 15px;
              }
            }
          }
        }
      }
    }
  }
  .info-block-container {
    padding-top: percentage(34/1380);
    padding-bottom: percentage(34/1380);
  }

  .image-block-container {
    position: relative;
    a {
      position: absolute;
      @include anchor-all(0);
      z-index: 1;
    }
    .section-image {
      padding-top: percentage(514/773);
    }
  }
  .side-block-container {
    border-left: 1px solid $color-secondary-header;
    padding-left: percentage(29/1380);
    .article-box {
      position: relative;
      @include mgn-vert(percentage(80/1380));
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
      .article-image {
        padding-top: percentage(387/500);
        .image {
          img {
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
            -webkit-transition: transform .75s $EASE-OUT;
            -moz-transition: transform .75s $EASE-OUT ;
            -ms-transition: transform .75s $EASE-OUT ;
            -o-transition: transform .75s $EASE-OUT ;
            transition: transform .75s $EASE-OUT ;
          }
        }
        .article-heading {
          opacity: 1;
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: $color-primary;
          margin-bottom: 0;
          padding: percentage(25/1380) percentage(65/1380);
          -webkit-transition: opacity.75s $EASE-OUT;
          -moz-transition: opacity.75s $EASE-OUT ;
          -ms-transition: opacity.75s $EASE-OUT ;
          -o-transition: opacity.75s $EASE-OUT ;
          transition: opacity.75s $EASE-OUT ;
          h3 {
            @include fp('font-size', 18, 20);
            color: $color-white;
          }
        }
      }
    }
  }

  &.content-detail-text-section {
    @media screen and (min-width: $sc-lg-min) {
      padding-bottom: percentage(50/1380);
    }
    .heading-box {
      text-align: center;
    }
    .sub-heading {
     color: $color-grey;
      @include fp('font-size', 18,24);
      margin-bottom: 15px;
      @media screen and (min-width: $sc-lg-min) {
        margin-bottom: percentage(25/1380);
      }
    }
    .section-image {
      padding-top: percentage(450/705);
      margin-bottom: percentage(55/640);
      @media screen and (min-width: $sc-md-min) {
        margin-bottom: percentage(50/768);
      }
      @media screen and (min-width: $sc-lg-min) {
        margin-bottom: percentage(43/1380);
      }
    }
    .button-block {
      text-align: center;
      padding-top: percentage(50/1380);
    }
  }
}