@import "../includes";

.content-column-block-section {
  background-color: $color-secondary-header;
  @include padd-vert(percentage(70/640));
  @include padd-horz(15px);
  @media screen and (min-width: $sc-md-min) {
    @include padd-vert(percentage(40/768));
    @include padd-horz(percentage(30/768));
  }
  @media screen and (min-width: $sc-lg-min) {
    @include padd-horz(percentage(55/1380));
    @include padd-vert(percentage(30/1380));
  }
  .article-box {
    @include padd-vert(percentage(25/1380));
    @media screen and (min-width: $sc-lg-min) {
      float: left;
      width: 50%;
    }
    .image-block-container {
      .article-image {
        padding-top: percentage(135/209);
      }
    }

    .article-block-container {
      @include padd-vert(percentage(25/640));
      @media screen and (min-width: $sc-sm-min) {
        @include padd-vert(0);
        padding-left: percentage(28/690);
        padding-right: percentage(35/690);
      }
      .article-summary {
        @include padd-vert(percentage(20/1380));
      }
    }
    .heading {
      @include fp('font-size', 22,28);
      line-height: 1;
      color: $color-primary;
    }
  }
}