@import "../includes";

.content-block-section {
  padding: percentage(70/640) 15px percentage(45/640);
  @media screen and (min-width: $sc-md-min) {
    padding: percentage(40/768) 30px percentage(40/768);
  }
  @media screen and (min-width: $sc-lg-min) {
    padding: percentage(65/1380) percentage(50/1380) percentage(60/1380);
  }
  h1 {
    margin-bottom: 25px;
    text-align: center;
    @media screen and (min-width: $sc-lg-min) {
      margin-bottom: percentage(44/1024);
    }
  }
  .slider-block-container {
    position: relative;
    @media screen and (min-width: $sc-lg-min) {
      @include padd-horz(percentage(68/1255));
    }
  }
  .item {
    width: 33.3333%;
    position: relative;
  }
  .filter-item {
    @include mgn-vert(15px);
    .article-box {
      @media screen and (min-width: $sc-md-min) {
        @include mgn-vert(percentage(40/1380));
      }
    }
  }
  .article-box {
    position: relative;
    @media screen and (min-width: $sc-sm-min) {
      @include mgn-horz(percentage(40/1380));
    }
    &.default {
      &:hover {
        .article-heading {
          @media screen and (min-width: $sc-lg-min) {
            opacity: 0;
          }
        }
        .article {
          opacity: 1;
          @media screen and (min-width: $sc-lg-min) {
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
          }
          .article-heading, .article-summary, .button-block {
            opacity: 1;
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
          }
        }
      }
      .image-block-container {
        overflow: hidden;
        a {
          position: absolute;
          @include anchor-all(0);
          z-index: 1;
        }
      }

      .article {
        display: none;
        @media screen and (min-width: $sc-lg-min) {
          display: block;
          opacity: 0;
          transition: opacity .4s $EASE-IN-OUT;
        }
        .article-heading {
          opacity: 0;
          -webkit-transform: translateY(50%);
          -moz-transform: translateY(50%);
          -ms-transform: translateY(50%);
          -o-transform: translateY(50%);
          transform: translateY(50%);
          transition: transform .75s $EASE-OUT .1s, opacity .35s $EASE-OUT .1s;
        }
        .article-summary {
          opacity: 0;
          -webkit-transform: translateY(30%);
          -moz-transform: translateY(30%);
          -ms-transform: translateY(30%);
          -o-transform: translateY(30%);
          transform: translateY(30%);
          transition: transform .75s $EASE-OUT .2s, opacity .35s $EASE-OUT .2s;
        }
        .button-block {
          opacity: 0;
          -webkit-transform: translateY(30%);
          -moz-transform: translateY(30%);
          -ms-transform: translateY(30%);
          -o-transform: translateY(30%);
          transform: translateY(30%);
          transition: transform .75s $EASE-OUT .4s, opacity .35s $EASE-OUT .4s;
        }
      }
      .link {
        color: $color-white;
        &:hover {
          @media screen and (min-width: $sc-lg-min) {
            color: $color-white;
          }
        }
      }
    }
    .article-image {
      padding-top: percentage(387/500);
      .image {
        img {
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          -o-transform: scale(1);
          transform: scale(1);
          -webkit-transition: transform .75s $EASE-OUT;
          -moz-transition: transform .75s $EASE-OUT ;
          -ms-transition: transform .75s $EASE-OUT ;
          -o-transition: transform .75s $EASE-OUT ;
          transition: transform .75s $EASE-OUT ;
        }
      }
      .article-heading {
        opacity: 1;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $color-primary;
        color: $color-white;
        margin-bottom: 0;
        padding: percentage(25/1380) percentage(65/1380);
        text-align: center;
        -webkit-transition: transform .75s $EASE-OUT;
        -moz-transition: transform .75s $EASE-OUT ;
        -ms-transition: transform .75s $EASE-OUT ;
        -o-transition: transform .75s $EASE-OUT ;
        transition: transform .75s $EASE-OUT ;
      }
    }
    .article {
      padding: percentage(50/640) percentage(40/640) percentage(80/640);
      @media screen and (min-width: $sc-md-min) {
        padding: percentage(40/768) percentage(45/768) percentage(45/768);
      }
      @media screen and (min-width: $sc-lg-min) {
        display: block;
        padding: percentage(20/375) percentage(25/375) percentage(25/375);
        position: absolute;
        @include anchor-all(0);
        background-color: $color-hover-box;
      }
    }
    .article-heading {
      @include fp(font-size, 24, 30);
      margin-bottom: percentage(25/1380);
      color: $color-white;
    }
    .article-summary {
      color: $color-white;
    }

    &.thumbs-box {
      .article {
        background-color: $color-secondary-header;
        @media screen and (min-width: $sc-lg-min) {
          position: relative;
          @include anchor-all(auto);
        }
      }
      .article-heading {
        color: $color-primary;
      }
      .article-summary {
        color: $color-grey;
      }
    }
  }
  .slide-nav {
    .slick-arrow {
      &:before {
        color: $color-secondary;
      }
    }
  }
}