@import "../includes";

$IMG-PADD-SPACE: 60px;
$ITEM-ANIM-TIME: 1s;

@mixin filter-item-hide() {
  opacity: 0;
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
  -ms-transform: scale(.8);
  -o-transform: scale(.8);
  transform: scale(.8);
}
@mixin filter-item-show() {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

@mixin gallery-modal-hide() {
  opacity: 0;
  -webkit-transform:  scale(.7);
  -moz-transform:  scale(.7);
  -ms-transform:  scale(.7);
  -o-transform:  scale(.7);
  transform:  scale(.7);
}
@mixin gallery-modal-show() {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

//Animation
@-webkit-keyframes filter-item-show {
  0% { @include filter-item-hide(); }
  100% { @include filter-item-show(); }
}
@-moz-keyframes filter-item-show {
  0% { @include filter-item-hide(); }
  100% { @include filter-item-show(); }
}
@-o-keyframes filter-item-show {
  0% { @include filter-item-hide(); }
  100% { @include filter-item-show(); }
}
@keyframes filter-item-show {
  0% { @include filter-item-hide(); }
  100% { @include filter-item-show(); }
}

@-webkit-keyframes gallery-modal-show {
  0% { @include gallery-modal-hide(); }
  100% { @include gallery-modal-show(); }
}
@-moz-keyframes gallery-modal-show {
  0% { @include gallery-modal-hide(); }
  100% { @include gallery-modal-show(); }
}
@-o-keyframes gallery-modal-show {
  0% { @include gallery-modal-hide(); }
  100% { @include gallery-modal-show(); }
}
@keyframes gallery-modal-show {
  0% { @include gallery-modal-hide(); }
  100% { @include gallery-modal-show(); }
}

@-webkit-keyframes gallery-modal-hide {
  0% { @include gallery-modal-show(); }
  100% { @include gallery-modal-hide(); }
}
@-moz-keyframes gallery-modal-hide {
  0% { @include gallery-modal-show(); }
  100% { @include gallery-modal-hide(); }
}
@-o-keyframes gallery-modal-hide {
  0% { @include gallery-modal-show(); }
  100% { @include gallery-modal-hide(); }
}
@keyframes gallery-modal-hide {
  0% { @include gallery-modal-show(); }
  100% { @include gallery-modal-hide(); }
}

.filter-item {
  display: none;
  width: 33.3333%;
  float: left;
  @include filter-item-hide();

  &.display-filter {
    &.display-paging {
      display: block;
      @include anim(filter-item-show $ITEM-ANIM-TIME cubic-bezier(0.23, 1, 0.32, 1) .05s forwards);
    }
  }
}
.hiding {
  display: none;
}
.gallery-section {
  h1 {
    margin-bottom: 25px;
    text-align: center;
    @media screen and (min-width: $sc-lg-min) {
      margin-bottom: percentage(44/1024);
    }
  }
  padding: percentage(70/640) 15px percentage(45/640);
  @media screen and (min-width: $sc-md-min) {
    padding: percentage(40/768) 30px percentage(40/768);
  }
  @media screen and (min-width: $sc-lg-min) {
    padding: percentage(65/1380) percentage(78/1380) percentage(60/1380);
  }
  .filter-list {
    @media screen and (min-width: $sc-lg-min) {
      @include mgn-horz(percentage(5/1380));
    }
  }
  .filter-item {
    @include mgn-vert(percentage(10/1380));
    @media screen and (min-width: $sc-md-min) {
      @include mgn-vert(0);
    }
    .image-block-container {
      position: relative;
      @media screen and (min-width: $sc-md-min) {
        @include mgn-horz(percentage(20/1380));
        @include mgn-vert(percentage(20/1380));
      }
      .article-image {
        padding-top: percentage(600/1020);
      }
      .video-box {
        visibility: hidden;
        position: absolute;
      }
      &:hover {
        .hover-block {
          @media screen and (min-width: $sc-lg-min) {
            opacity: 1;
          }
        }
      }
    }
    .hover-block {
      background-color: $color-hover-box;
      color: $color-white;
      position: absolute;
      cursor: pointer;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      -webkit-transition: opacity .4s $EASE-IN-OUT;
      -moz-transition: opacity .4s $EASE-IN-OUT ;
      -ms-transition: opacity .4s $EASE-IN-OUT ;
      -o-transition: opacity .4s $EASE-IN-OUT ;
      transition: opacity .4s $EASE-IN-OUT ;
    }
  }
  .button-block {
    text-align: center;
    &.load-more {
      .link {
        &:after {
          content: '\f107';
        }
        &:hover {
          &:after {
            padding-left: 0;
          }
        }
      }
    }
  }
}

.gallery-preview-modal {
  position: fixed;
  display: none;
  @include anchor-all(0);
  z-index: 99;
  background-color: rgba(255,255,255,.9);
  @include gallery-modal-hide();

  &.opened {
    display: block;
    @include anim(gallery-modal-show .7s cubic-bezier(0.23, 1, 0.32, 1) .05s forwards);
  }
  &.closing {
    @include gallery-modal-show();
    @include anim(gallery-modal-hide .5s cubic-bezier(0.23, 1, 0.32, 1) forwards);
  }
  iframe {
    height: 100% !important;
    width: calc(100% - 30px) !important;
  }

  .box-content-wrapper {
    position: absolute;
    display: block;
    @include size();
    @include anchor(60px, 0, 100px, 0);
    overflow: hidden;
    opacity: 0;
    @include transtn-normal();

    &.ready {
      opacity: 1;
    }
  }
  .box-slider-info {
    padding: 0 15px;
    position: absolute;
    display: block;
    @include size(auto, 100px);
    @include anchor(auto, 0, 0, 0);
    overflow: hidden;
    text-align: center;

    .slider-title {
      display: block;
      @include mgn-horz(auto);
      margin-top: 20px;
      letter-spacing: .05em;
      color: $color-grey;
      -webkit-transition: all .4s $EASE-IN-OUT;
      -moz-transition: all .4s $EASE-IN-OUT ;
      -ms-transition: all .4s $EASE-IN-OUT ;
      -o-transition: all .4s $EASE-IN-OUT ;
      transition: all .4s $EASE-IN-OUT ;

      &.hiding {
        opacity: 0;
      }
    }
    .slider-item-number {
      display: block;
      @include mgn-horz(auto);
      margin-top: 10px;
      font-size: 14px;
    }
  }

  .slider-preview-wrapper {
    display: block;
    height: 100%;
    position: relative;
    z-index: 1;

    .gallery-top {
      position: relative;
      height: 100%;
      max-height: 100%;
      .gallery-slider {
        @media screen and (min-width: $sc-lg-min) {
          @include mgn-horz(65px);
        }
      }
    }
  }
  .slick-slider {
    .slick-list {
      .slick-track {
        .slick-slide {
          img {
            width: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-height: calc(100vh - 120px);
            max-width: calc(100% - 120px);
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
          }
        }
      }
    }
  }
  .slide-nav {
    .slick-arrow:before {
      color: $color-primary;
    }
  }
  .slick-slide {
    text-align: center;
    background-color: transparent;

    .img-wrapper {
      height: 100%;
      .image-number {
        position: absolute;
        display: block;
        -webkit-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        -o-transform: translateY(-50px);
        transform: translateY(-50px);
        color: #a6915e;
        font-size: 14px;
      }

    }
  }
}
