@import "../includes";

.instagram-section {
  @include padd-vert(percentage(50/640));
  @include padd-horz(percentage(30/640));
  @media screen and (min-width: $sc-md-min) {
    @include padd-vert(percentage(80/768));
    @include padd-horz(percentage(30/768));
  }
  @media screen and (min-width: $sc-lg-min) {
    @include padd-vert(percentage(58/1380));
    @include padd-horz(percentage(115/1380));
  }
  &:before {
    @media screen and (min-width: $sc-lg-min) {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 30px;
      background-image: url($asset_path + 'bg.png');
      background-color: $color-primary;
      background-repeat: repeat-y;
    }
  }
  .article-box {
    padding-bottom: 25px;
    text-align: center;
    @media screen and (min-width: $sc-lg-min) {
      text-align: left;
      padding-bottom: 0;
      pading-right: 15px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      height: 100%;
    }
    .heading {
      color: $color-primary;
      @include fp('font-size', 24, 30);
      line-height: 1.2;
      font-weight: bold;
    }
  }
  .widget {
    @include clearfix();
    .item {
      position: relative;
      float: left;
      width: 100%;
      @media screen and (min-width: $sc-md-min) {
        width: 50%;
      }
      @media screen and (min-width: $sc-lg-min) {
        width: 25%;
      }
      figure {
        margin: 0;
      }
      .image {
        @media screen and (min-width: $sc-md-min) {
          padding-top: 100%;
          position: relative;
          overflow: hidden;
        }
        img {
          @media screen and (min-width: $sc-md-min) {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            max-width: none;
          }
        }
      }
      a {
        position: absolute;
        @include anchor-all(0);
        z-index: 2;
      }
    }
    .social-icon {
      position: absolute;
      top: 8px;
      right: 8px;
      z-index: 1;
      color: $color-white;
      font-size: 1.3em;
      line-height: 1;
    }
  }
}