@import "../includes";
.introduction-section {
  .image-block-container {
    @media screen and (min-width: $sc-lg-min) {
      float: left;
      width: 50%;
      @include padd-horz(0);
    }
    .section-image {
      @media screen and (min-width: $sc-lg-min) {
        padding-top: percentage(480/690);
        width: 100%;
      }
    }
  }
  .article-block-container {
    @include padd-vert(percentage(70/640));
    @include padd-horz(15px);
    @media screen and (min-width: $sc-md-min) {
      @include padd-vert(percentage(40/768));
      @include padd-horz(percentage(30/768));
    }
    @media screen and (min-width: $sc-lg-min) {
      float: left;
      width: 50%;
      @include padd-horz(percentage(55/1380));
      @include padd-vert(percentage(100/1380));
    }
    .article {
        padding-top: percentage(33/1380);
    }
  }
}