@import "../includes";
.table-swipe-section {
  padding: percentage(50/640) percentage(32/640) percentage(82/640);
  @media screen and (min-width: $sc-md-min) {
    padding: percentage(55/768) percentage(30/768);
  }
  @media screen and (min-width: $sc-xlg-min) {
    padding: percentage(40/1380) percentage(57/1380);
  }
  .heading-box {
    padding-bottom: percentage(20/1380);
  }
  .article {
    text-align: center;
    a {
      color: $color-primary;
      text-decoration: underline;
    }
  }
  .swipe-table-block-container {
    thead {
      background-color: $color-primary;
      color: $color-white;
      border: 0;
      th {
        font-weight: normal;
        @include padd-horz(25px);
        + th {
          text-align: center;
        }
        .icon {
          font-size: 1.5em;
          line-height: 1;
          margin-bottom: 5px;
        }
      }
    }
    tbody {
      border: 0;
      tr {
        &:nth-child(even) {
          background-color: #e8f4d9;
        }
        td {
          color: #666;
          @include padd-horz(25px);
          + td {
            text-align: center;
          }
        }
      }
    }
  }
}