@import "../includes";

.tile-section {
  .tile-box-wrapper {
    @media screen and (min-width: $sc-lg-min) {
      justify-content: flex-end;
    }
    .tile-box {
      position: relative;
      &[data-item="4"] {
        @media screen and (min-width: $sc-lg-min) {
          width: 66.6666%;
        }
      }
      &[data-item="5"] {
        //@media screen and (min-width: $sc-lg-min) {
        //  height: 50%;
        //}
      }
      &[data-item="6"] {
        //@media screen and (min-width: $sc-lg-min) {
        //  height: 50%;
        //}
      }
      .article-image {
        padding-top: percentage(300/480);
      }
      .heading {
        position: absolute;
        bottom: 0;
        left: 0;
        display: inline-block;
        background-color: $color-btn-primary;
        a {
          position: relative;
          @include anchor-all(0);
          padding: 20px 38px 20px 20px;
          display: block;
          color: $color-white;
          @include fp('font-size', 18,24);
          &:after {
            content: '\f105';
            font-family: "FontAwesome";
            position: absolute;
            right: 18px;
            transition: right .4s $EASE-OUT;
            -webkit-transition: right .4s $EASE-OUT;
            -moz-transition: right .4s $EASE-OUT ;
            -ms-transition: right .4s $EASE-OUT ;
            -o-transition: right .4s $EASE-OUT ;
            transition: right .4s $EASE-OUT ;
          }
          &:hover {
            &:after {
              @media screen and (min-width: $sc-lg-min) {
                right: 13px;
              }
            }
          }
        }
      }
    }
    .tile-group-wrapper {
      width: 100%;
      @media screen and (min-width: $sc-lg-min) {
        flex-flow: column nowrap;
        width: 33.33333%;
      }
    }
  }
}

.tile-group-section {
  @media screen and (min-width: $sc-xlg-min) {
    //height: calc(100vh);
  }
  .article-image {
    .video-cover {
      z-index: 2;
      &.hidden {
        visibility: hidden;
        z-index: 0;
      }
      &:before {
        content: '';
        background-color: rgba(0,0,0,.55);
        position: absolute;
        @include anchor-all(0);
        z-index: 1;
      }
    }
    .video-wrapper {
      background-color: #000;
      position: absolute;
      @include anchor-all(0);
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .btn-vdo {
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: $color-white;
      @include fp('font-size', 80, 100);
      z-index: 3;
      line-height: .5;
    }
  }
  .tile-box-group {
    @media screen and (min-width: $sc-xlg-min) {
      height: calc(((100vh - 117px) / 3) * 2);
    }
    .small {
      .article-content {
        position: relative;
        @include fp('font-size', 24,34);
        overflow: hidden;
        background-image: url($asset_path + 'stripe.png');
        background-color: $color-tile-group-article;
        background-size: cover;
        padding-top: 100%;
        @media screen and (min-width: $sc-xlg-min) {
          padding-top: calc((100vh - 117px) / 3);
        }
        a {
          position: absolute;
          @include anchor-all(0);
          z-index: 1;
        }
        .article {
          position: absolute;
          @include anchor-all(0);
          color: $color-white;
          font-style: italic;
          padding: 15px percentage(30/230);
          line-height: 1.1;
          display: flex;
          font-weight: bold;
          justify-content: center;
          align-items: center;
        }
      }
      .article-image {
        padding-top: 100%;
        @media screen and (min-width: $sc-xlg-min) {
          padding-top: calc((100vh - 117px)/3);
        }
      }
    }
    .large {
      .article-image {
        padding-top: 100%;
        @media screen and (min-width: $sc-xlg-min) {
          padding-top: calc(((100vh - 117px)/3) * 2);
        }
      }
    }
  }
  .tile-box-inline {
    @media screen and (min-width: $sc-xlg-min) {
      height: calc((100vh - 117px) / 3);
    }
    .article-image {
      padding-top: 100%;
      @media screen and (min-width: $sc-xlg-min) {
        padding-top: calc((100vh) / 3);
      }
    }
    .article-content {
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: $color-white;
      font-style: italic;
      font-weight: bold;
      @include fp('font-size', 26,46);
      line-height: 1.1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px;
      a {
        position: absolute;
        @include anchor-all(0);
        z-index: 1;
      }
    }
    &[data-group = '2'] {
      .article-content {
        background-color: $color-primary;
      }
    }
    &[data-group = '3'] {
      .article-content {
        background-color: $color-secondary;
      }
    }
  }
}

.tile-grid-block-section {
  .item {
    color: $color-white;
    display: flex;
    align-items: center;
    padding: 25px percentage(20/720) 25px percentage(45/720);
    .text {
      position: relative;
      padding-left: 55px;
      padding-right: 30px;
      line-height: 1.2;
      @include fp('font-size', 22, 30);
      &:before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        line-height: 1;
        @include fp('font-size', 22, 32);
      }
      &:after {
        content: '\f105';
        font-family: "FontAwesome";
        position: absolute;
        bottom: 5px;
        right: 0;
        line-height: 1;
        @include fp('font-size', 18, 24);
      }
    }
  }
  .tile-box-1 {
    @media screen and (min-width: $sc-lg-min) {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
    }
    .image-block-wrapper {
      @media screen and (min-width: $sc-md-min) {
        display: flex;
        flex-flow: row nowrap;
        flex: 0 0 auto;
      }
      @media screen and (min-width: $sc-lg-min) {
        width: calc((100%/4)*3);
      }
      .large-image-block {
        @media screen and (min-width: $sc-md-min) {
          width: 50%;
        }
        @media screen and (min-width: $sc-lg-min) {
          width: 66.666667%;
        }
        .article-image {
          padding-top: percentage(470/720);
          @media screen and (min-width: $sc-lg-min) {
            padding-top: percentage(320/720);
            //padding-top: percentage(320/720);
          }
          @media screen and (min-width: $sc-xlg-min) {
            padding-top: percentage(320/720);
          }
        }
      }
      .small-image-block {
        @media screen and (min-width: $sc-md-min) {
          width: 50%;
        }
        @media screen and (min-width: $sc-lg-min) {
          width: calc(100%/3);
        }
        .article-image {
          padding-top: percentage(470/720);
          @media screen and (min-width: $sc-lg-min) {
            padding-top: percentage(320/360);
          }
        }
      }
    }
    .content-block-wrapper {
      @media screen and (min-width: $sc-lg-min) {
        width: calc(100%/4);
        flex: 0 0 auto;
        position: relative;
      }
      .item-wrapper {
        height: 100%;
        @media screen and (min-width: $sc-md-min) {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
          flex-flow: row wrap;
        }
        @media screen and (min-width: $sc-lg-min) {
          position: absolute;
          height: 100%;
          left: 0;
          right: 0;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-flow: column wrap;
          -ms-flex-flow: column wrap;
          flex-flow: column wrap;
        }

        .item {
          background-color: $color-secondary;
          @media screen and (min-width: $sc-md-min) {
            width: 50%;
          }
          @media screen and (min-width: $sc-lg-min) {
            padding: 25px percentage(20/345) 25px percentage(45/345);
            width: 100%;
            height: 50%;
          }
          + .item {
            background-color: $color-primary;
          }
        }
      }
    }
  }
  .tile-box-2 {
    @media screen and (min-width: $sc-lg-min) {
      display: flex;
      flex-flow: row nowrap;
    }
    @media screen and (min-width: $sc-xlg-min) {
      //min-height: 550px;
    }
    .item-wrapper {
      @media screen and (min-width: $sc-md-min) {
        display: flex;
        flex-flow: row nowrap;
      }
      //@media screen and (min-width: $sc-lg-min) {
      //  flex-flow: column nowrap;
      //}
      @media screen and (min-width: $sc-xlg-min) {
        flex-flow: row nowrap;
        height: 33.33333%;
      }
      .item {
        background-color: $color-primary;
        @media screen and (min-width: $sc-md-min) {
          padding: 25px percentage(20/720) 25px percentage(45/720);
          width: 50%;
        }
        //@media screen and (min-width: $sc-lg-min) {
        //  width: 100%;
        //}
        @media screen and (min-width: $sc-xlg-min) {
          width: 50%;
        }
        + .item {
          background-color: $color-secondary;
        }
      }
    }
    .image-block-wrapper {
      @media screen and (min-width: $sc-lg-min) {
        position: relative;
        width: 50%;
      }
      .article-image {
        padding-top: percentage(470/720);
        @media screen and (min-width: $sc-lg-min) {
          position: absolute;
          width: 100%;
          padding-top: 0;
          height: 100%;
        }
      }
    }
    .content-block-wrapper {
      @media screen and (min-width: $sc-lg-min) {
        width: 50%;
        height: 100%;
      }
      .article-content-block {
        background-color: #e8f1f8;
        @include fp('font-size', 18, 26);
        padding: 25px;
        @media screen and (min-width: $sc-lg-min) {
          display: flex;
          align-items: center;
          padding: percentage(70/720) percentage(90/720);
        }
        @media screen and (min-width: $sc-xlg-min) {
          //padding: percentage(60/720) percentage(65/720) percentage(40/720) percentage(95/720);
          //height: 66.666667%;
        }
      }
      .header-block {
        text-align: left;
        @include fp('font-size', 22, 48);
        margin-bottom: 15px;
      }
    }
  }
}