footer {
  padding-bottom: percentage(100/640);
  @media screen and (min-width: $sc-md-min) {
    padding-bottom: percentage(35/768);
  }
  @media screen and (min-width: $sc-lg-min) {
    padding-bottom: percentage(42/1380);
  }
  @media screen and (min-width: $sc-xlg-min) {
    padding-bottom: 0;
  }
  .footer-bar-top {
    background-color: #e5e5e5;
    .heading {
      font-size: 18px;
    }
    .guest-review-wrapper {
      padding: percentage(35/640) percentage(30/640);
      @media screen and (min-width: $sc-md-min) {
        padding: percentage(65/768) percentage(30/768);
      }
      @media screen and (min-width: $sc-lg-min) {
        padding: percentage(40/460) percentage(115/460);
      }
    }
    .social-wrapper {
      padding: 0 percentage(30/640) percentage(35/640);
      @media screen and (min-width: $sc-md-min) {
        padding: percentage(65/768) percentage(30/768);
      }
      @media screen and (min-width: $sc-lg-min) {
        padding: percentage(40/460) percentage(115/460);
      }
      .social-list {
        @include clearfix();
        li {
          float: left;
          + li {
            margin-left: percentage(132/640);
            @media screen and (min-width: $sc-md-min) {
              margin-left: percentage(132/768);
            }
            @media screen and (min-width: $sc-lg-min) {
              margin-left: percentage(50/460);
            }
          }
          a {
            color: $color-secondary;
            @include fp('font-size', 18, 22);
          }
        }
      }
    }
    .newsletter-wrapper {
      padding: 0 percentage(30/640) percentage(65/640);
      @media screen and (min-width: $sc-md-min) {
        padding: percentage(65/768) percentage(30/768);
      }
      @media screen and (min-width: $sc-lg-min) {
        padding: percentage(40/460) percentage(130/460) percentage(40/460) percentage(15/460);
      }
      .main-form {
        .form-group {
          position: relative;
          .form-control {
            border-color: transparent;
            border-bottom-color: $color-secondary;
            padding-right: 85px;
            color: $color-secondary;
            padding-left: 0;
            background-color: transparent;
            @include placeholder($color-grey);
          }
        }
      }
      .button-block {
        position: absolute;
        right: 0;
        top: 8px;
        padding-top: 0;
        .link {
          color: $color-secondary;
          &:after {
            width: auto;
          }
        }
      }

    }
    &.background {
      background-color: $color-primary;
      > div {
        &:first-of-type {
          background-color: $color-secondary;
        }
      }
      .IWSfrCount {
        color: $color-white;
      }
      .heading {
        color: $color-white;
      }
      .social-wrapper {
        .social-list {
          li {
            a {
              color: $color-white;
            }
          }
        }
      }
      .newsletter-wrapper {
        .main-form {
          .form-group {
            .form-control {
              border-bottom-color: $color-white;
              color: $color-white;
              @include placeholder($color-white);
            }
          }
        }
        .button-block {
          .link {
            color: $color-white;
          }
        }
      }
    }
  }
  .footer-bar-bottom {
    padding: 0 percentage(30/640);
    @media screen and (min-width: $sc-md-min) {
      padding: 0 percentage(30/768);
    }
    @media screen and (min-width: $sc-lg-min) {
      padding: 0 percentage(115/1380);
    }
    .heading {
      font-size: 14px;
      font-weight: bold;
    }
    .item {
      padding: percentage(38/640) 0;
      @media screen and (min-width: $sc-md-min) {
        padding: percentage(30/768) 0;
      }
      @media screen and (min-width: $sc-lg-min) {
        padding: percentage(40/1380) 0 percentage(20/1380);
      }
    }
    .quick-wrapper {
      ul {
        @include clearfix();
        li {
          float: left;
          width: 50%;
          a {
            color: $color-grey;
          }
          &:hover {
            @media screen and (min-width: $sc-lg-min) {
              color: $color-secondary;
            }
          }
          &.active {
            color: $color-secondary;
          }
        }
      }
    }
    .navigation-wrapper {
      padding-top: 5px;
      @media screen and (min-width: $sc-lg-min) {
        display: inline-block;
      }
      ul {
        @include clearfix();
        li {
          float: left;
          + li {
            margin-left: 15px;
          }
          a {
            color: $color-link;
          }
        }
      }
    }
    .ihg-info-bar {
      padding: percentage(38/640) 0;
      @media screen and (min-width: $sc-md-min) {
        padding: percentage(30/768) 0;
      }
      @media screen and (min-width: $sc-lg-min) {
        padding: percentage(40/1380) 0;
      }
    }
    .bp-guarantee-wrapper {
      padding-bottom: 15px;
      @include clearfix();
      @media screen and (min-width: $sc-md-min) {
        padding-bottom: 0;
      }
      @media screen and (min-width: $sc-lg-min) {
        //width: percentage(500/1150);
      }
      .image-box {
        float: left;
        width: percentage(260/640);
        @media screen and (min-width: $sc-md-min) {
          width: percentage(170/460);
        }
        @media screen and (min-width: $sc-lg-min) {
          width: percentage(150/460);
        }
        img {
          max-width: 100%;
        }
      }
      .info-box {
        float: left;
        padding-left: percentage(20/640);
        @media screen and (min-width: $sc-md-min) {
          padding-left: percentage(30/640);
        }
        @media screen and (min-width: $sc-lg-min) {
          padding-left: percentage(50/460);
        }
        .heading {
          font-size: 1em;
        }
        a {
          @include fp('font-size', 23, 28);
          color: $color-primary;
        }
      }
    }
    .logo-wrapper {
      padding-bottom: 15px;
      text-align: center;
      @media screen and (min-width: $sc-md-min) {
        padding-bottom: 0;
      }
      @media screen and (min-width: $sc-lg-min) {
        //width: percentage(400/1150);
      }
      ul {
        @include clearfix();
        li {
          position: relative;
          float: left;
          width: percentage(260/640);
          @media screen and (min-width: $sc-md-min) {
            width: percentage(230/460);
          }
          @media screen and (min-width: $sc-lg-min) {
            width: percentage(200/460);
          }
          @media screen and (min-width: $sc-xlg-min) {
            width: auto;
          }
          img {
            max-height: 100px;
            @media screen and (min-width: $sc-xlg-min) {
              max-width: 140px;
            }
          }
        }
      }
    }
    .application-wrapper {
      display: flex;
      align-self: flex-end;
      flex-wrap: wrap;
      @include clearfix();

      @media screen and (min-width: $sc-lg-min) {
        width: percentage(250/1150);
      }
      .article {
        padding-top: 15px;
        float: left;
        width: 100%;
        p {
          line-height: 1.2;
          font-size: 14px;
        }
        a {
          color: $color-primary;
        }
      }
      span {
        display: inline-block;
        &.image {
          width: 50%;
          float: left;
          @media screen and (min-width: $sc-lg-min) {
            max-width: 89px;
            width: 100%;
          }
          @media screen and (min-width: $sc-xlg-min) {
            width: percentage(85/250);
            max-width: 100%;
          }
          + .image {
            a {
              padding-left: 3px;
              padding-right: 0;
            }
          }
          a {
            display: block;
            padding-right: 3px;
          }
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .copyright {
    font-size: 12px;
    color: #999999;
    padding: 20px percentage(30/640);
    @media screen and (min-width: $sc-md-min) {
      padding: 20px percentage(30/768);
    }
    @media screen and (min-width: $sc-lg-min) {
      padding: 20px percentage(115/1380);
    }
  }
}