@import "../includes";
p {
  a {
    color: $color-link;
  }
}
header {
  .secondary-header {
    background-color: $color-white;
  }
  .main-header {
    .navigation-wrapper {
      .nav-panel-wrapper {
        .nav-panel {
          .secondary-nav {
            ul {
              li {
                a {
                  color: $color-link;
                }
              }
            }
          }
        }
      }
    }
  }
}
footer {
  .footer-bar-top {
    &.background > div:first-of-type {
      background-color: $color-secondary;
    }
  }
  .footer-bar-bottom {
    .application-wrapper {
      .article {
        a {
          color: $color-secondary;
        }
      }
    }
    .bp-guarantee-wrapper {
      .info-box {
        a {
          color: $color-link;
        }
      }
    }
  }
}


.content-slider-section {
  .slide-nav {
    .slick-arrow {
      &:before {
        color: $color-link;
      }
    }
  }
}

.info-block-container {
  ul {
    li {
      a {
        color: $color-secondary;
      }
    }
  }
}
.instagram-section {
  &:before {
    @media screen and (min-width: $sc-lg-min) {
      display: none;
      background-color: transparent;
    }
  }
}

.ihg-group-section {
  .article-box.yellow {
    background-color: $color-link;
    .article-block-container {
      .heading {
        color: $color-white;
      }
    }
    .button-block {
      .link {
        color: $color-white;
      }
    }
  }
  .article-box.red {
    background-color: $color-link;
  }
}

.tile-group-section {
  .tile-box-inline {
    &[data-group = '2'] {
      .article-content {
        background-color: $color-secondary;
      }
    }
    &[data-group = '3'] {
      .article-content {
        background-color: $color-primary;
      }
    }
  }
}

.table-swipe-section {
  .swipe-table-block-container {
    thead {
      background-color: $color-primary;
    }
    tbody {
      tr {
        &:nth-child(2n) {
          background-color: $color-secondary;
        }
      }
    }
  }
}

/* Default */
.language-bar {
  .language-name {
    color: $color-link;
  }
}
#weather_icon {
  .wi {
    color: $color-link;
  }
}
.rating-review {
  .guest-rating-static {
    background-image: url($asset_path + "/rating-stars02.png");
  }
}
.IWSfrCount {
  color: $color-secondary;
}