@import "../includes";

#reservation {
  max-width: percentage(600/640);
  padding: 0;
  @media screen and (min-width: $sc-md-min) {
    max-width: 720px;
  }
  @media screen and (min-width: $sc-lg-min) {
    max-width: percentage(1135/1380);
  }
}
.reservation-form {
  padding: percentage(90/640) percentage(40/640);
  @media screen and (min-width: $sc-lg-min) {
    padding: percentage(70/1380) percentage(120/1380);
  }
  .heading {
    @include fp(font-size, 24, 36);
    text-align: center;
    color: $color-primary;
  }
  .article-content {
    padding-top: 10px;
    text-align: center;
    @media screen and (min-width: $sc-lg-min) {
      @include padd-horz(percentage(85/1135));
    }
    a {
      color: $color-primary;
      text-decoration: underline;
    }
  }
  .main-form {
    padding-top: 20px;
  }
}


/* Form */
.main-form {
  .form-group	{
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
    textarea {
      &.form-control {
        height: 100px;
      }
    }
    .form-control {
      border-color: #666;
    }
    select {
      height: 100% !important;
      bottom: 0;
    }
    .error {
      color: $color-white;
    }
  }
  label {
    color: #666;
    font-size: 1em;
  }
  .radio-style {
    position: relative;
    display: inline-block;
    input[type=radio] {
      position: absolute;
      visibility: hidden;
      &:checked ~ .check {
        border: 1px solid #666;
        &:before {
          background-color: $color-primary;
        }
      }
      &:checked ~ label {
        color: #666;
      }
    }
    label {
      display: block;
      position: relative;
      font-weight: 300;
      padding: 5px 25px 5px 30px;
      margin: 0 auto;
      z-index: 9;
      cursor: pointer;
    }
    .check {
      display: block;
      position: absolute;
      border: 1px solid #666;
      border-radius: 100%;
      height: 21px;
      width: 21px;
      top: 50%;
      margin-top: -10px;
      left: 0;
      z-index: 5;
      &:before {
        display: block;
        position: absolute;
        content: '';
        border-radius: 100%;
        height: 13px;
        width: 13px;
        top: 3px;
        left: 3px;
        margin: auto;
      }
    }
  }
  .button-block {
    text-align: center;
  }
  .selectboxit-text {
    text-transform: none;
    @include padd-vert(5px);
  }
  .selectboxit-container {
    .selectboxit-options {
      border: 1px solid #666;
      @include padd-horz(0);
      li {
        @include padd-horz(5px);
      }
    }
  }
  .selectboxit-list {
    > .selectboxit-focus {
      background-color: #efefef;
      > .selectboxit-option-anchor {
          text-transform: none;
      }
    }
  }
}