.clearfix {
	zoom: 1;

	&:before, &:after {
		content: "";
  		display: table;
	}
	&:after {
		clear: both;
	}
}

.f-right {
	float: right;
}
.f-left {
	float: right;
}

// Spacing
$space-multiplier: 5px;
@for $i from 0 through 10 {
	// For margin
  	.mt-#{$i} { 
		margin-top: $i * $space-multiplier;
	}
	.mr-#{$i} { 
		margin-right: $i * $space-multiplier;
	}
	.mb-#{$i} { 
		margin-bottom: $i * $space-multiplier;
	}
	.ml-#{$i} { 
		margin-left: $i * $space-multiplier;
	}
	.mh-#{$i} { 
		margin-left: $i * $space-multiplier;
		margin-right: $i * $space-multiplier;
	}
	.mv-#{$i} { 
		margin-top: $i * $space-multiplier;
		margin-bottom: $i * $space-multiplier;
	}

	// Also for padding
	.pt-#{$i} { 
		padding-top: $i * $space-multiplier;
	}
	.pr-#{$i} { 
		padding-right: $i * $space-multiplier;
	}
	.pb-#{$i} { 
		padding-bottom: $i * $space-multiplier;
	}
	.pl-#{$i} { 
		padding-left: $i * $space-multiplier;
	}
	.ph-#{$i} { 
		padding-left: $i * $space-multiplier;
		padding-right: $i * $space-multiplier;
	}
	.pv-#{$i} { 
		padding-top: $i * $space-multiplier;
		padding-bottom: $i * $space-multiplier;
	}
}

// Background

