@import '../abstracts/variables';

$initial-font: $default-font;
$activated-font: $main-font-1, $default-font;

html {

	body {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

}
h1,h2,h3,h4,h5,h6 {
	font-family: $font-default;
}

h1 {
	@include fp(font-size, 30, 42);
	margin-bottom: 0;
	color: $color-primary;
	font-weight: 600;
	line-height: 1.2;
	margin-top: 0;
}

h2 {
	@include fp(font-size, 30, 42);
	margin-bottom: 0;
	color: $color-primary;
	font-weight: 600;
	line-height: 1.2;
}
h3 {
	@include fp(font-size, 18, 24);
	margin-bottom: 0;
}