$asset_path: '/templates/penang/images/';
@font-face {
	font-family: 'FS Lola';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/fs-lola/FSLola.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/fs-lola/FSLola.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../assets/fonts/fs-lola/FSLola.woff2') format('woff2'), /* Super Modern Browsers */
	url('../assets/fonts/fs-lola/FSLola.woff') format('woff'), /* Modern Browsers */
	url('../assets/fonts/fs-lola/FSLola.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../assets/fonts/fs-lola/FSLola.svg#FSLola') format('svg'); /* Legacy iOS */
}

$default-font: sans-serif;
$main-font-1: 'Roboto';

$color-white: #fff;
$color-grey: #666;

/* City */
//$color-primary: #2fae4f;
//$color-secondary: #8cc63f;
//$color-secondary-header: #f2f2f2;
//$color-link: #417c2c;
//$color-hover-box: rgba(47,174,79,.9);
//$color-btn-primary: rgba(47,174,79,.75);
//$color-tile-group-article: #086b54;

/* Resort */
$color-primary: #3d3e77;
$color-secondary: #7d82bc;
$color-secondary-header: #ebebeb;
$color-link: #18a0ae;
$color-hover-box: rgba(33, 114,185,.9);
$color-btn-primary: rgba(33, 114,185,.75);
$color-tile-group-article: #18a0ae;

/* Express */
//$color-primary: #2172b9;
//$color-secondary: #529cdc;
//$color-secondary-header: #ebebeb;
//$color-link: #1a4d8d;
//$color-hover-box: rgba(33, 114,185,.9);
//$color-btn-primary: rgba(33, 114,185,.75);
//$color-tile-group-article: #2172b9;


// font for Resort, Express
//$font-default: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;

// font for City
$font-default: "FS Lola", sans-serif;


$font-arial:  Arial, "Helvetica Neue", Helvetica, sans-serif;

$EASE-OUT-ANIM: cubic-bezier(0.075, 0.820, 0.165, 1.000);
$EASE-OUT: cubic-bezier(0.4, 0, 0.2, 1);
$EASE-IN-OUT: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$XSML-SPC: 3px;
$SML-SPC: 5px;
$MED-SPC: 10px;
$XMED-SPC: 15px;
$LG-SPC: 20px;
$XLG-SPC: 30px;
$XXLG-SPC: 40px;

$ANIM-TIME-VFAST: .1s;
$ANIM-TIME-FAST: .2s;
$ANIM-TIME-BFAST: .35s;
$ANIM-TIME-NRM: .5s;
$ANIM-TIME-BSLOW: .75s;
$ANIM-TIME-SLOW: 1s;
$ANIM-TIME-VSLOW: 1.5s;

//screen media query
$sc-xsm-min: 320px;
$sc-sm-min: 640px;
$sc-md-min: 768px;
$sc-lg-min: 1024px;
$sc-xlg-min: 1280px;

// Breakpoints
$bp-sm: 0;
$bp-md: 640px;
$bp-lg: 1024px;
$bp-xlg: 1200px;
$bp-xxlg: 1440px;

$breakpoints: (
				small: $bp-sm,
				medium: $bp-md,
				large: $bp-lg,
				xlarge: $bp-xlg,
				xxlarge: $bp-xxlg,
				retina2x: '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)'
);
