/node_modules
/vendor
/.idea
/.vagrant
yarn.log
.env
*.zip
/public/fonts
/public/landing
/stats
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
